.idea/
*/__pycache__/
__pycache__/
PyOpenGL/Sample_FBX_Meshes
PyOpenGL/Sample_OBJ_Meshes
Sapiens/TS_Files/
Script_Playground
Data
Renders
*.iml
*.mp4
*.avi
*.pyc
*.npy
*.zip
*.pt
*.lock
/PyOpenGL/.locks/
/PyOpenGL/models--facebook--dinov2-large/
/PyOpenGL/output/
/Script_Playground/
/Data_Processing/output/
/Swin3D_Main/build/
/Trained_Models/
/Training_Logs/
/Eval_Results/
/Notes/
/Model/point_transformer/
/data/
Data_Processing/src/PointTransformerV3
Data_Processing/src/m2fp